---
import { CompLinkCard } from "../components/utility/comp_link_card";
---

<div>
  <CompLinkCard
    imageUrl={"/components/one_time_code.png"}
    title={"Clerk | One Time Code"}
    linkUrl={"/components/clerk/one_time_code/"}
  />
  <CompLinkCard
    imageUrl={"/components/one_time_code.png"}
    title={"Clerk | One Time Code"}
    linkUrl={"/components/clerk/one_time_code/"}
  />
  <CompLinkCard
    imageUrl={"/components/one_time_code.png"}
    title={"Clerk | One Time Code"}
    linkUrl={"/components/clerk/one_time_code/"}
  />
</div>
